* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: #6610f2;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.33vh;
  font-size: 6rem;
  cursor: pointer;
  user-select: none;
}

.btn span:hover {
  transform: scale(1.05);
  transition: 125ms;
}

.btn-rock {
  background-color: #88d18a;
}

.btn-paper {
  background-color: #fcbf49;
}

.btn.btn-scissors {
  background-color: #fe5f55;
}

.btn-rock span:hover {
  animation: shadow-rock 100ms both;
}

@keyframes shadow-rock {
  0% {
    text-shadow: 0 0 0 #000;
  }

  100% {
    text-shadow: 0 0 .5rem #8988d1;
  }
}

.btn-paper span:hover {
  animation: shadow-paper 0.3s both;
}

@keyframes shadow-paper {
  0% {
    text-shadow: 0 0 0 #000;
  }

  100% {
    text-shadow: 0 0 .5rem #fc49c3;
  }
}

.btn-scissors span:hover {
  animation: shadow-scissors 0.3s both;
}

@keyframes shadow-scissors {
  0% {
    text-shadow: 0 0 0 #000;
  }

  100% {
    text-shadow: 0 0 .5rem #fcbf49;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c6d8ff;
  user-select: none;
  gap: 2rem;
}

.results div {
  display: flex;
  font-size: 6rem;
  font-weight: 600;
}

.results p {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}