html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: #342e37;
}

.results {
  display: flex;
  flex-direction: column;
  user-select: none;
  min-width: 0;
}

.score {
  display: flex;
  margin: 0 auto;
  flex-shrink: 1;
}

.score-player,
.score-computer {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FBC688;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-shrink: 1;
}

.message h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
  text-align: center;
  color: #FBCF9D;
}

.message span {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  cursor: pointer;
  color: #FBBA72;
}

.current-score {
  display: flex;
  font-size: 1.4rem;
}

.overlay {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  color: #070D0D;
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}

.highlight-rock::before,
.highlight-paper::before,
.highlight-scissors::before {
  content: '';
  position: absolute;
  width: 20vh;
  height: 130vw;
  animation: animate 6s linear infinite;
}

.highlight-rock::before {
  background: linear-gradient(#fff, #61a6a8);
}

.highlight-paper::before {
  background: linear-gradient(#000, #fce762);
}

.highlight-scissors::before {
  background: linear-gradient(#fff, #f24236);
}

.highlight-rock,
.highlight-paper,
.highlight-scissors {
  overflow: hidden;
}

.highlight-rock::after,
.highlight-paper::after,
.highlight-scissors::after {
  content: '';
  position: absolute;
  inset: 8px;
}

.highlight-rock::after {
  background: #61a6a8;
}

.highlight-paper::after {
  background: #fce762;
}

.highlight-scissors::after {
  background: #f24236;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33.33vh;
  font-size: 6rem;
  user-select: none;
  position: relative;
}

.rock,
.paper,
.scissors {
  display: flex;
  cursor: pointer;
  z-index: 1;
}

.btn span:hover {
  transform: scale(1.05);
  transition: 125ms;
  animation: shadow 0.3s both;
}

.btn-rock {
  background-color: #61a6a8;
}

.btn-paper {
  background-color: #fce762;
}

.btn-scissors {
  background-color: #f24236;
}

@keyframes shadow {
  0% {
    text-shadow: 0 0 0 #000;
  }

  100% {
    text-shadow: 0 0 .5rem #342E37;
  }
}

@media only screen and (max-width: 500px) {
  .btn {
    font-size: 4rem;
  }
}